{% extends "layout.html" %}
{% block body %}
{% from 'macros.html' import render_form, render_field %}
<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <div class="login-wrapper">
        <img src="{{ url_for('static', filename='images/plexivity.png') }}" class="img-responsive">
        <h3>{{_('Send password reset instructions')}}</h3>
	{{ render_form(forgot_password_form, action_url=url_for_security('forgot_password'), action_text=_('Recover Password'), btn_class='btn btn-plex') }}
    </div>
  </div>
</div>
{% endblock %}
