{% extends "layout.html" %}
{% block body %}
{% from 'macros.html' import render_form %}
<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <div class="login-wrapper">
        <img src="{{ url_for('static', filename='images/plexivity.png') }}" class="img-responsive">
        <h3>{{_('Reset Password')}}</h3>
	{{ render_form(reset_password_form, action_url=url_for_security('reset_password', token=reset_password_token), action_text=_('Reset Password'), btn_class='btn btn-plex') }}
    </div>
  </div>
</div>
{% endblock %}
