{% if activity["MediaContainer"]["@size"]|int >= 1 %}
<div class="row">
  <div class="stats">
    <div class="wrapper">
      {% for play in activity["MediaContainer"]["Video"] %}
          <div class="col-sm-3">
      <div class="poster"><div class="poster-activity">
          <a href="{{ url_for('info', id=play["@ratingKey"]) }}" >
            <img class="img-responsive" src="{{ g.plex.getThumb(play['@thumb']) }}" />
           </a>
      </div></div>
      <div class="progress progress-warning">
          <div class="bar" style="width: {{ helper.getPercentage(play["@viewOffset"], play["@duration"]) }}%">{{ helper.getPercentage(play["@viewOffset"], play["@duration"]) }}%</div>
      </div>
        <div class="platform-activity pull-right col-sm-3">
          <img class="img-responsive" src="{{ url_for('static', filename=helper.playerImage(play['Player']['@platform']) ) }}" />
        </div>
        <div class="user-activity">
          {%- if play["Player"]["@state"] == "playing" %}
            {{ _( '%(user)s is watching', user=play["User"]["@title"]) }}
          {%- elif play["Player"]["@state"] == "paused" %}
            {{ _( '%(user)s has paused', user=play["User"]["@title"]) }}
          {%- elif play["Player"]["@state"] == "buffering" %}
            {{ _( '%(user)s is buffering', user=play["User"]["@title"]) }}
          {%- endif %}
        </div>
        <div class="title-activity">
          {%- if play["@type"] == "episode" %}
          {{ play["@grandparentTitle"] }} - {{ play["@title"] }}
          {%- else %}
          {{ play["@title"] }}
          {%- endif %}
        </div>
      </div>
      <div class="info-wrapper">

      </div>
</div>
{% endfor %}
    </div>
  </div>
</div>
{% else %}
<div class="row">
  <h1>Nothing playing</h1>
</div>
{% endif %}