{% extends "layout.html" %}
{% from 'macros.html' import render_stream_info %}
{% block body %}

<section id="history">

    <table class="table" id="globalHistory">
        <thead>
            <tr>
                <th align='left'><i class='glyphicon glyphicon-sort icon-white'></i> {{_('Date')}}</th>
                <th align='left'><i class='glyphicon glyphicon-sort icon-white'></i> {{_('User')}} </th>
                <th align='left'><i class='glyphicon glyphicon-sort icon-white'></i> {{_('Platform')}}</th>
                <th align='left'><i class='glyphicon glyphicon-sort icon-white'></i> {{_('Title')}}</th>
                <th align='center'><i class='glyphicon glyphicon-sort icon-white'></i> {{_('Stream Info')}}</th>
                <th align='center'><i class='glyphicon glyphicon-sort icon-white'></i> {{_('Started')}}</th>
                <th align='center'><i class='glyphicon glyphicon-sort icon-white'></i> {{_('Paused')}}</th>
                <th align='center'><i class='glyphicon glyphicon-sort icon-white'></i> {{_('Stopped')}}</th>
                <th align='center'><i class='glyphicon glyphicon-sort icon-white'></i> {{_('Duration')}}</th>
                <th align='center'><i class='glyphicon glyphicon-sort icon-white'></i> {{_('Completed')}}</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in history %}
                {% set xml = helper.load_xml(entry.xml) %}
                {{ render_stream_info(xml, entry.id) }}
                <tr>
                    <td align="left" data-order="{{ entry.time|timestamp|int }}">{{ entry.time.strftime('%Y/%m/%d') }}</td>
                    <td align="left">{{ entry.user }}</td>
                    <td align="left">{{ entry.platform }}</td>
                    <td align="left"><a href="{{ url_for('info', id=xml.get('ratingKey')) }}">{{ entry.title }}</a></td>
                    <td align="center" class=" "><a href="#streamDetailsModal{{entry.id}}" data-toggle="modal"><i class="glyphicon glyphicon glyphicon-info-sign"></i></a></td>
                    <td align="center">{{ entry.time.strftime('%H:%M') }}</td>
                    <td align="center">{{ entry.paused }} </td>
                    <td align="center">{{ entry.stopped }}</td>
                    <td align="center">{{ entry.stopped - entry.time }}</td>
                    <td align="center"><span class="badge badge-warning">13%</span></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</section>

{% endblock %}
