{% extends "layout.html" %}
{% from 'macros.html' import render_form %}
{% block body %}

    {% if form %}
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
            {{ render_form(form, action_url='/settings', action_text=_('Save settings'), btn_class='btn btn-plex') }}
            </div>
        </div>
    {% endif %}

    <div class="row" style="margin-top: 20px; margin-bottom: 20px">
    	<div class="col-sm-6 col-sm-offset-3">
           	<a href="{{ url_for('hue') }}" class="btn btn-plex">{{_('Connect Hue')}}</a>
        </div>
    </div>



{% endblock %}
