{% extends "layout.html" %}
{% block body %}
{% if stats %}
<section id="overview">
<div class="row">
  <div class="col-sm-12">
  <div class="row stats-wrapper">
    <ul class="list-unstyled list-inline">
        {%- for section in stats["MediaContainer"]["Directory"] %}
        <li class="col-sm-2"><h1>{{ section["extra"]["@size"] }}</h1><h5>{{ section["@title"] }}</h5></li>
        {%- endfor %}
    </ul>
  </div>
</div>
</div>
</section>
{% endif %}

<section id="activity">
  <h2 class="title">{{ _('Currently playing') }}</h2>
{% if activity["MediaContainer"]["@size"]|int >= 1 %}
<div class="row">
  <div class="stats">
    <div class="wrapper">
      {% for play in activity["MediaContainer"]["Video"] %}
          <div class="col-sm-3">
      <div class="poster"><div class="poster-activity">
          <a href="{{ url_for('info', id=play["@ratingKey"]) }}" >
            <img class="img-responsive" src="{{ g.plex.getThumb(play['@thumb']) }}" />
           </a>
      </div></div>
      <div class="progress progress-warning">
          <div class="bar" style="width: {{ helper.getPercentage(play["@viewOffset"], play["@duration"]) }}%">{{ helper.getPercentage(play["@viewOffset"], play["@duration"]) }}%</div>
      </div>
        <div class="platform-activity pull-right col-sm-3">
          <img class="img-responsive" src="{{ url_for('static', filename=helper.playerImage(play['Player']['@platform']) ) }}" />
        </div>
        <div class="user-activity">
          {%- if play["Player"]["@state"] == "playing" %}
            {{ _( '%(user)s is watching', user=play["User"]["@title"]) }}
          {%- elif play["Player"]["@state"] == "paused" %}
            {{ _( '%(user)s has paused', user=play["User"]["@title"]) }}
          {%- elif play["Player"]["@state"] == "buffering" %}
            {{ _( '%(user)s is buffering', user=play["User"]["@title"]) }}
          {%- endif %}
        </div>
        <div class="title-activity">
          {%- if play["@type"] == "episode" %}
          {{ play["@grandparentTitle"] }} - {{ play["@title"] }}
          {%- else %}
          {{ play["@title"] }}
          {%- endif %}
        </div>
      </div>
      <div class="info-wrapper">

      </div>
</div>
{% endfor %}
    </div>
  </div>
</div>
{% else %}
<div class="row">
  <div class="col-sm-12">
    <h2>{{ _('Nothing is currently playing') }}</h2>
  </div>
</div>
{% endif %}
</section>

<section id="recentlyAdded">
  <h2 class="title">{{ _('Recently Added') }}</h2>
<div class="row">

    {% for object in new["MediaContainer"]["Directory"] %}
    <div class="col-lg-2 col-sm-2 recently-added-cover">
      <a href="{{ url_for('info', id=object["@ratingKey"]) }}" >
        <img src="{{ g.plex.getThumb(object['@thumb']) }}" class="img-responsive" />
      </a>
        {{ object["@title"] }}
    </div>
    {% endfor %}
    {% for object in new["MediaContainer"]["Video"] %}
    <div class="col-lg-2 col-sm-2 recent-cover">
      <a href="{{ url_for('info', id=object["@ratingKey"]) }}" >
        <img src="{{ g.plex.getThumb(object['@thumb']) }}" class="img-responsive" />
      </a>
        {{ object["@title"] }}
    </div>
    {% endfor %}
</div>

</section>

{% endblock %}
